@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');

.headshot {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 41%;
  height: 700px;
}

.hiking {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  height: 700px;
}

/* .pictures {
  display: inline-block;
  margin: 0 auto;
  width: 700px;  
  height: 400px;
}

.pictures img {
  width: 100%;
  height: auto;
  text-align: center;
} */

h2,
p {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
