@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');

.nav {
    display: flex;
    flex-direction: row;
    background-color: #6f8f72;
    justify-content: space-between;
    --bs-nav-link-color: #141619;
    font-family: 'Montserrat', sans-serif;
}

.trailmix{
  background-color: #a1ada5;
  border-radius: 100px;
  /* box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 16px; */
  /* color: green; */
  cursor: pointer;
  display: inline-block;
  /* padding: 7px 20px; */
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.login {
    background-color: #a1ada5;
    border-radius: 100px;
    /* box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px; */
    color: green;
    cursor: pointer;
    display: inline-block;
    /* padding: 7px 20px; */
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.about, .team {
    background-color: #a1ada5;
    border-radius: 100px;
    /* box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px; */
    color: green;
    cursor: pointer;
    display: inline-block;
    /* padding: 7px 20px; */
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}


.login-container {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    font-family: 'Montserrat', sans-serif;
}

.logout {
    background-color: #a1ada5;
    border-radius: 100px;
    /* box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px; */
    color: rgb(22, 24, 22);
    cursor: pointer;
    display: inline-block;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: 0px;
}
