@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');

.nav {
    display: flex;
    flex-direction: row;
    background-color: #789746;
    justify-content: space-between;
    --bs-nav-link-color: #141619;
    font-family: 'Montserrat', sans-serif;

}


.login-container {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    font-family: 'Montserrat', sans-serif;

}