@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');

.nav {
    display: flex !important;
    flex-direction: row !important;
    background-color: #6f8f72 !important;
    justify-content: space-between !important;
    --bs-nav-link-color: #141619 !important;
    font-family: 'Montserrat', sans-serif !important;
    padding: 5px !important;
}

.trailmix{
  background-color: #a1ada5 !important;
  border-radius: 100px !important;
  cursor: pointer !important;
  display: inline-block !important;
  text-align: center !important;
  text-decoration: none !important;
  transition: all 250ms !important;
  border: 0 !important;
  font-size: 16px !important;
  user-select: none !important;
  -webkit-user-select: none !important;
  touch-action: manipulation !important;
  
}

.login {
    background-color: #a1ada5;
    border-radius: 100px;
    color: green;
    cursor: pointer;
    display: inline-block;
    padding: 6px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.about, .team {
    background-color: #a1ada5 !important;
    border-radius: 100px !important;
    color: green !important;
    cursor: pointer !important;
    display: inline-block !important;
    text-align: center !important;
    margin: auto !important;
    text-decoration: none !important;
    transition: all 250ms !important;
    border: 0 !important;
    font-size: 16px !important;
    user-select: none !important;
    -webkit-user-select: none !important;
    touch-action: manipulation !important;
}

.login-container {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    font-family: 'Montserrat', sans-serif;
}

.logout {
    background-color: #a1ada5;
    border-radius: 100px;
    color: rgb(22, 24, 22);
    cursor: pointer;
    display: inline-block;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: 0px;
}
.welcome-ptag {
    margin-top: none;
    margin-bottom: 0rem;
}

.login-button {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    color: rgb(22, 24, 22);
}

.logo-image {
    margin-right: 18px;
    margin-left: 18px;
    width: 32px;
    border-radius: 100px;
}
