
.nav {
    display: flex;
    flex-direction: row;
    background-color: #789746;
    justify-content: space-between;
    --bs-nav-link-color: #141619;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.login-container {
    display: flex;
    justify-content: end;
    align-items: flex-end;
}