@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');

.hero-container {
    width: 100%;
    height: 100%;
    z-index: 1;
    font-family: 'Montserrat', sans-serif;
}
.video-container {
  height: 100%;
  width: 100%;
  overflow: hidden;

}
.welcome-container{
    z-index: 3;
    max-width: 1200px;
    position: absolute;
    padding: 20px;
    text-align: center;
}
.background-video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.body-two {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.carousel {
  align-items: center;
}
